* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

:root{
  --primary-white : #fff;
  --primary-orange : #f9ab00;
}

.home,
.about,
.portfolio,
.projects,
.blogs {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-image: url('./Assets/images/img-under-construction-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
  font-size: 50px;
}

.portfolio {
  position: relative;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./Assets/images/img-main-info.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  /* color: #000000; */
  /* font-size: 50px; */
}

.projects {
  background-image: url('./Assets/images/img-under-construction-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
  font-size: 50px;
}

.blogs {
  background-image: url('./Assets/images/img-under-construction-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  .about {
    font-size: 35px;
  }
   /* .portfolio {
    
  }  */
  .projects {
    font-size: 35px;
  }
  .blogs {
    font-size: 35px;
  }

}
/*------------------------------Intro Section----------------------------*/

 .intro {
  display: flex;
  /* flex-direction: column; */
  z-index: 2;
  /* position: absolute; */
} 

.introLeft{
  flex: 0.5;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  }

.imgContainer {
  text-align: center;
}

.introLeft .imgContainer img{
  justify-content: center;
  border-radius: 30%;
  width: 50%;
  }  

.introRight{
    flex: 0.5;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Condesed", sans-serif;
  }

.introRight h1{
  text-align: left;
  color: var(--primary-orange);
  font-size: 3rem;
}

.introRight h2{
  text-align: left;
  color: var(--primary-orange);
  font-size: 2rem;
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

.icons {
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 2rem 0;
}

.icon-holder {
  margin-right: 2rem;
}

.icon-fb {
  font-size: 2.8rem;
  color: #a8aab1;
  transition: all .4s ease-in-out;
}

.icon-fb:hover {
  color: #0044ff;
}

.icon-ig {
  font-size: 2.8rem;
  color: #a8aab1;
  transition: all .4s ease-in-out;
}

.icon-ig:hover {
  color: rgba(212, 45, 212, 0.788);
}

.icon-sc {
  font-size: 2.8rem;
  color: #a8aab1;
  transition: all .4s ease-in-out;
}

.icon-sc:hover {
  color: rgb(255, 102, 0);
}

.icon-li {
  font-size: 2.8rem;
  color: #a8aab1;
  transition: all .4s ease-in-out;
}

.icon-li:hover {
  color: rgb(0, 173, 253);
}

.icon-gh {
  font-size: 2.8rem;
  color: #a8aab1;
  transition: all .4s ease-in-out;
}

.icon-gh:hover {
  color: rgb(253, 0, 0);
}

.particles-canvas {
  position: absolute;
  z-index: 1;
}

.tsparticles-canvas-el {
  height: 100vh !important;
  width: 100vw !important;
  max-height: 400px !important;
  max-width: 1200px !important;
}

@media(max-width:768px){
  .particles-canvas{
    display: none;
  } 
  .intro{
    flex-direction: column;
    align-items: center;
    text-align: center;
  } 
  .introRight h1{
    text-align: center;
    font-size: 2rem;
  }

  .introRight h2{
    text-align: center;
    font-size: 1rem;
  }

}